@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Momo+Trust+Display&display=swap');


.momo {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}



/* Make layout full height and flexed */
/* .app-container {
  display: flex;
  flex-direction: column;
  background-color: #860000;
  min-height: 100vh;
} */



